@import url('https://fonts.googleapis.com/css?family=Lato:100,300');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', serif;
  font-weight: 100;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ================ Header ================= */
header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style-type: none;
  margin: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
nav > ul > li:hover,
nav > ul > li.active {
  border-bottom: 1px solid darkgray;
}
.logo {
  background-image: url('img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 3rem;
  width: 10rem;
  margin: 1rem;
  margin-right: 3rem;
}
/* ================ Main ================= */
main {
  display: flex;
  align-items: stretch;
  height: 80%;
}
/* ================= Side Menu ================= */
aside {
  flex: 1 20%;
  display: flex;
  flex-direction: column;
}
.work-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0.3rem;
}
.work-item-img {
  margin-right: 0.3rem;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  height: 3.5rem;
  width: 3.5rem;
  opacity: 0.5;
}
.work-item-title {
  opacity: 0;
}

.work-item:hover .work-item-title,
.work-item:hover .work-item-img,
.work-item.active .work-item-title,
.work-item.active .work-item-img {
  opacity: 1;
}

.work-item .img-1 {
  background-image: url('img/block-menu-img-1.png');
}
.work-item .img-2 {
  background-image: url('img/block-menu-img-2.png');
}
.work-item .img-3 {
  background-image: url('img/block-menu-img-3.png');
}
.work-item .img-4 {
  background-image: url('img/block-menu-img-4.png');
}
.work-item .img-5 {
  background-image: url('img/block-menu-img-5.png');
}
.work-item .img-6 {
  background-image: url('img/block-menu-img-6.png');
}

/* ================ Content================= */
article {
  /* height: 100%; */
  flex: 1 80%;
  overflow-y: scroll;
  padding: 3rem;
  /* display: flex;
  flex-direction: column;
  overflow: auto; */
}

.image {
  width: 100%;
  height: 25rem;
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3rem;
  position: relative;
}
.row-2,
.row-3 {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.row-2 > .image {
  width: 40%;
  height: auto;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3rem;
}
.row-3 > .image {
  width: 30%;
  height: auto;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 3rem;
}
.work-title {
  margin: 1rem;
  font-weight: 300;
}
.work-time {
  margin: 1rem;
  margin-bottom: 3rem;
  font-weight: 100;
}
article p {
  max-width: 30rem;
  margin: 1rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.caption {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  main {
    flex-direction: column;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* ================ work1 ================= */
.project1 .image1 {
  background-image: url('img/project1-1.png');
}
.project1 .image2 {
  background-image: url('img/project1-2.png');
}
.project1 .image3 {
  background-image: url('img/project1-3.png');
}
.project1 .image4 {
  background-image: url('img/project1-4.png');
}

/* ================ work2 ================= */
.project2 .image1 {
  background-image: url('img/project2-1.png');
}
.project2 .image2 {
  background-image: url('img/project2-2.png');
}
.project2 .image3 {
  background-image: url('img/project2-3.png');
}
/* ================ work3 ================= */
.project3 .image1 {
  background-image: url('img/project3-1.png');
}
.project3 .image2 {
  background-image: url('img/project3-2.png');
}
.project3 .image3 {
  background-image: url('img/project3-3.png');
}
/* ================ work4 ================= */
.project4 .image1 {
  background-image: url('img/project4-1.png');
}
.project4 .image2 {
  background-image: url('img/project4-2.png');
}
.project4 .image3 {
  background-image: url('img/project4-3.png');
}

/* ================ work5 ================= */
.project5 .image1 {
  background-image: url('img/project5-1.png');
}
.project5 .image2 {
  background-image: url('img/project5-2.png');
}
.project5 .image3 {
  background-image: url('img/project5-3.png');
}
.project5 .image4 {
  background-image: url('img/project5-4.png');
}
.project5 .image5 {
  background-image: url('img/project5-5.png');
}
/* ================ work6 ================= */
.project6 .image1 {
  background-image: url('img/project6-1.png');
}
.project6 .image2 {
  background-image: url('img/project6-2.png');
}
